.marco{
    color: black;
    border: 2px solid gray;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    background-color: white;
}
.p{
    color: black;
    text-decoration: none;
}
.p2{
    transition: transform 0.3s ease;
}
.p2:hover{
    transform: scale(1.1);
}

.titulo{
    color: white;
    text-align: center;
    font-family: 'Poppins', sans-serif;;
     border: 2px solid gray;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    background-color:black;
}
.sub{
    text-align: center;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
    background-color: gray;
}

.producto {
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    padding: 15px;
    transition: 0.3s;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    border-radius: 10px;
}
.precio {
    color: green;
    font-weight: bold;
}
.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background: #333;
}

